USE [master]
GO
/****** Object:  Database [TODO]    Script Date: 02/25/2013 10:18:29 ******/
CREATE DATABASE [TODO] ON  PRIMARY 
( NAME = N'TODO', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TODO.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TODO_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TODO_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TODO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TODO]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 02/25/2013 10:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NULL,
	[complete] [bit] NOT NULL,
	[created] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_tasks_complete]    Script Date: 02/25/2013 10:18:30 ******/
ALTER TABLE [dbo].[tasks] ADD  CONSTRAINT [DF_tasks_complete]  DEFAULT ((0)) FOR [complete]
GO
