label.userData {
       display:inline-block;
       left: 80px;
       width: 150px;
       height: 40px;
}

form {
	width: 850px;
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid #c6c7cc;
	border-radius: 5px;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 5px 5px 2px #888888;
	background-color: #E0E0E0;
	
}

#courseContainer {
	position: relative;
	bottom: 55px;
}

input[type="text"] {
	border-radius: 5px;
    	font-family: Sansation;
    	box-shadow: 3px 3px 2px #888888;
}

input[type="radio"] {
	color: white;	
}

input[type="checkbox"] {
	margin-left: 160px;	
	margin-top: 20px;
}

input[type="button"] {
	margin-top: 10px;
	box-shadow: 2px 2px 2px #888888;
	margin-left: 8px;
}